<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoTest-RegistrationPage">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"></listener>
        <listener class-name="org.testng.reporters.SuiteHTMLReporter"></listener>
    </listeners>
    <test name="UserRegistrationTest" >
        <classes>
            <class name= "Test.RegistrationPageTest"/>
            <class name= "Test.RegistrationConfirmationPageTest"/>

        </classes>
    </test>

</suite>
